* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-position: top center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}

.logo {
  background: #75208a;
  color: #f2f2f2;
  padding: 25px 15px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  background-color: #350c40;
}

.icon {
  padding: 10px 15px;
}

header input {
  width: 100%;
  height: 60px;
  max-width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: #350c40;

  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

::placeholder {
  color: #979797;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.saved-searches {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 25px 25px;
  min-width: 350px;
  background: #884c9f;
  border: 1px solid #350c40;
  border-radius: 3px;
}

.city {
  color: #fff;
  font-size: 19px;
  font-weight: 500;
}

.date {
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
  color: rgba(242, 242, 242, 0.6);
}

.time {
  font-size: 14px;
  color: rgba(242, 242, 242, 0.6);
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.current .temp {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  text-shadow: 2px solid red 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #fff;
  font-size: 17px;
  font-style: italic;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

/* Media Query for Mobile */

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .saved-searches {
    display: block;
  }

  .location {
    margin: 10px 0;
  }
}

/* Media Query for Tablet */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .saved-searches {
    background-color: yellow;
    min-width: 350px;
    flex-wrap: wrap;
    display: flex;
  }

  .saved-searches a:nth-last-child(1):nth-child(odd) {
    background-color: violet;
  }

  .location {
    margin-bottom: 25px;
  }
}
