* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-position: top center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
}

.logo {
  background: #75208a;
  color: #f2f2f2;
  padding: 25px 15px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  background-color: #350c40;
}

.icon {
  padding: 10px 15px;
}

header input {
  width: 100%;
  height: 60px;
  max-width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: #350c40;

  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

::placeholder {
  color: #979797;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.saved-searches {
  padding-top: 25px;
  display: grid;
  justify-content: center;
  grid-template-columns: 400px;
}

.location {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 25px 25px;
  background: #884c9f;
  border: 1px solid #350c40;
  border-radius: 3px;
  margin-bottom: 20px;
}

.city {
  color: #fff;
  font-size: 19px;
  font-weight: 500;
}

.date {
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
  color: rgba(242, 242, 242, 0.6);
}

.time {
  font-size: 14px;
  color: rgba(242, 242, 242, 0.6);
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.current .temp {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  text-shadow: 2px solid red 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #fff;
  font-size: 17px;
  font-style: italic;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

/* Media Query for Tablets */
@media only screen and (min-width: 768px) and (max-width: 980px) {
  .saved-searches {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    padding: 20px 10px;
  }

  .location {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 25px 25px;
    margin-bottom: 20px;
    background: #884c9f;
    border: 1px solid #350c40;
    border-radius: 3px;
    justify-items: stretch;
  }
}

/* Media Query for Desktops */
@media only screen and (min-width: 981px) and (max-width: 1700px) {
  .saved-searches {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    padding: 20px 10px;
  }

  .location {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 25px 25px;
    margin-bottom: 20px;
    background: #884c9f;
    border: 1px solid #350c40;
    border-radius: 3px;
  }
}
